@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import './variables.scss';

body {
  background-color: $gray;
  font-family: 'Poppins';
}

.MuiButton-root,
select {
  font-family: 'Poppins', sans-serif !important;
}

a {
  color: $blue;
  text-decoration: none;
}

.l {
  float: left;
}

.r {
  float: right;
}

.borderBottom {
  border-bottom: 1px solid rgba(150, 150, 150, .25);
}

.lowercase {
  text-transform: none !important;
}

.w100 {
  width: 100%;
}

.whiteContainer {
  background: #FFF;
  padding-bottom: 1px;
}

.hidden {
  display: none !important;
}