// COLORS
$blue:            #109CF1;
$darkBlue:        #334D6E;
$linkedin:        #0E76A8;
$google:          #E23D31;
$leadColor:       #50D74D;
$dealOrange:      #FF6B00;
$followupPurple:  #7000FF;
$gray:            #F5F6F8;
